<section class="container" id="aboutme">
        <div class="row featurette poppins-regular">
        <div class="col-md-7 order-md-2 ">
            <h2 class="featurette-heading fw-normal lh-1 ">Hi, I'm Stamatis</h2>
            <p>I am a software developer and engineering student based in Greece. Currently pursuing my degree in Electrical and Computer Engineering at the University of Thessaly, I combine engineering discipline with a builder's mindset.
                My focus is on Python development. I specialize in creating web applications and automation scripts that save time and solve real-world problems.
            </p>
            <p>
            <p>My Technical Toolkit:</p>
                <ul>
                    <li>Web Development: Flask, Jinja, HTML/CSS, Bootstrap.</li>
                    <li>Automation & Scripting: Selenium, BeautifulSoup, API integration.</li>
                    <li>Data & Databases: SQL, Pandas, NumPy.</li>
                </ul>

            <p>I believe the best way to learn is by doing. I maintain an active portfolio of projects ranging from full-stack web apps to custom automation bots. I am currently open to opportunities where I can contribute to a development team and continue growing as an engineer.</p>
        </div>
        <div class="col-md-5 order-md-1 border-end border-3 border-secondary">
            <h2 class="fw-bold poppins-regular">ABOUT ME</h2>
        </div>
        </div>
    </section>
