<section class="container" id="aboutme">
        <div class="row featurette">
        <div class="col-md-7 order-md-2 ">
            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span>
            </h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
             totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
             sit aspernatur aut odit aut fugit.</p>

            <p>
             Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
             adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
             , vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
        <div class="col-md-5 order-md-1 border-end border-3 border-secondary">
            <h2 class="fw-bold poppins-regular">ABOUT ME</h2>
        </div>
        </div>
    </section>
