<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
    <section class="container my-2 py-3">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6 ">
                    <img src="https://placehold.co/600x400" width="100" height="100" style="object-fit: cover; width: 300px; height: 300px;" class="d-block mx-lg-auto img-fluid rounded-circle hero-img" alt="My Photo" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-1 fw-bold text-body-emphasis lh-4 mb-3">Stamatis Sarrinikolaou</h1>
                    <p class="lead text-body-emphasis fs-4 roboto-mono-h2">Building software solutions for individuals and businesses</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-lg text-light px-4 me-md-2" style="background-color: #446389" fdprocessedid="1g3snv"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-tv" viewBox="0 0 16 16">
                        <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5M13.991 3l.024.001a1.5 1.5 0 0 1 .538.143.76.76 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.5 1.5 0 0 1-.143.538.76.76 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.5 1.5 0 0 1-.538-.143.76.76 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.5 1.5 0 0 1 .143-.538.76.76 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2"/>
                        </svg> My Work</button>
                        <button type="button" onclick="window.location.href='{{ url_for('download') }}'" class="btn btn-lg text-light" style="background-color: #446389" fdprocessedid="ak0va"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708z"/>
                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                        </svg>
                        Download CV</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About me section  -->
    {% include "about.html" %}

    <!-- Introduction to the project section -->
    <div class="container pt-5" id="skills">
        <div class="row border-bottom border-2 ">
            <div class="col-md-7 order-md-2  poppins-regular">
                <h2 class="fw-bold">PROJECTS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 order-md-2 poppins-regular"></div>
                <h3 class="featurette-heading fw-normal lh-1 poppins-regular pt-3">You can see for yourself a selection of my recent work</h3>
            </div>
        </div>
    </div>

    <!-- Project Section -->
    <section class="container my-5 ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/200x100" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <h5 class="card-title mb-2">Blog Project</h5>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Python</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Django</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">SQLAlchemy</span>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="row row-cols-1 row-cols-md-2 g-5 mx-1">
                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                            </svg> GitHub</button>

                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/></svg>
                            Live Demo</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/200x100" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <h5 class="card-title mb-2">Blog Project</h5>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Python</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Django</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">SQLAlchemy</span>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="row row-cols-1 row-cols-md-2 g-5 mx-1">
                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                            </svg> GitHub</button>

                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/></svg>
                            Live Demo</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/200x100" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <h5 class="card-title mb-2">Blog Project</h5>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Python</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Django</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">SQLAlchemy</span>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="row row-cols-1 row-cols-md-2 g-5 mx-1">
                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                            </svg> GitHub</button>

                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/></svg>
                            Live Demo</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/200x100" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <h5 class="card-title mb-2">Blog Project</h5>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Python</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Django</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">SQLAlchemy</span>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="row row-cols-1 row-cols-md-2 g-5 mx-1">
                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                            </svg> GitHub</button>

                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/></svg>
                            Live Demo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/200x100" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <h5 class="card-title mb-2">Blog Project</h5>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Python</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Django</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">SQLAlchemy</span>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="row row-cols-1 row-cols-md-2 g-5 mx-1">
                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                            </svg> GitHub</button>

                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/></svg>
                            Live Demo</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/200x100" class="card-img-top" alt="...">
                    <div class="card-footer">
                        <h5 class="card-title mb-2">Blog Project</h5>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Python</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">Django</span>
                        <span class="badge mb-3 px-4 rounded-pill text-light border">SQLAlchemy</span>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="row row-cols-1 row-cols-md-2 g-5 mx-1">
                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                            </svg> GitHub</button>

                            <button type="button" class="btn btn-outline-dark px-4 align-items-center justify-content-center gap-2 border-0 shadow-sm" fdprocessedid="ak0va"><svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/></svg>
                            Live Demo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
  <div class="container marketing text-center poppins-regular">
    <h2 class="text-body-emphasis justify-content-center py-5">What I Bring to the Table</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card h-100 border-0 shadow-sm text-center py-4 px-3 hover-card">
          <div class="card-body">
            <div class="icon-box bg-primary bg-opacity-10 text-primary mx-auto mb-3">
              <i class="bi bi-code-slash fs-2"></i>
            </div>
            <h3 class="card-title fw-bold">Frontend</h3>
            <p class="card-text text-muted mb-4">Crafting responsive interfaces using Bootstrap, and modern CSS.</p>
            <div class="d-flex justify-content-center gap-2 flex-wrap">
              <span class="badge bg-light text-dark border">HTML</span>
              <span class="badge bg-light text-dark border">CSS</span>
                <span class="badge bg-light text-dark border">Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card h-100 border-0 shadow-sm text-center py-4 px-3 hover-card">
          <div class="card-body">
            <div class="icon-box bg-success bg-opacity-10 text-success mx-auto mb-3">
              <i class="bi bi-hdd-rack fs-2"></i>
            </div>
            <h3 class="card-title fw-bold">Backend</h3>
            <p class="card-text text-muted mb-4">Building robust APIs and managing data with Django and Python.</p>
            <div class="d-flex justify-content-center gap-2 flex-wrap">
                <span class="badge bg-light text-dark border">Python</span>
                <span class="badge bg-light text-dark border">Django</span>
                <span class="badge bg-light text-dark border">SQLAlchemy</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card h-100 border-0 shadow-sm text-center py-4 px-3 hover-card">
          <div class="card-body">
            <div class="icon-box bg-danger bg-opacity-10 text-success mx-auto mb-3">
              <i class="bi bi-hdd-rack fs-2 text-primary"></i>
            </div>
            <h3 class="card-title fw-bold">Data Science</h3>
            <p class="card-text text-muted mb-4">Analyze complex data and visualize their relationships</p>
            <div class="d-flex justify-content-center gap-2 flex-wrap">
              <span class="badge bg-light text-dark border">Python</span>
              <span class="badge bg-light text-dark border">MatplotLib</span>
              <span class="badge bg-light text-dark border">Matlab</span>
              <span class="badge bg-light text-dark border">PostgreSQL</span>

            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
    </section>

{% include "footer.html" %}

</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
crossorigin="anonymous"></script>

</html>